.image-wrapper{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.image-wrapper .btn input {
  display: none;
}
.image-wrapper .image-previewer {
    border-radius: 0.2rem 0.2rem 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
    display: block;
    background: #ffffff no-repeat center;
    background-size: cover;
}
.image-wrapper input {
    display: none;
}
.image-wrapper .btn{
    border-radius: 0;
}

.image-preview{
    background: #ffffff no-repeat center;
    background-size: cover;
    border: 1px solid #ddd;
    width: 90px;
    height: 90px;
}

.image-preview.image-preview-inline{display: inline-block;}
.image-preview.image-preview-sm{
    width: 50px;
    height: 50px;
}
.image-preview.image-preview-lg{
    width: 120px;
    height: 120px;
}

.off-white{
    background-color: #f9f9f9;
}

